body {
    text-align: center;
}

#times {
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
}

#courier {
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
}

#gill-sans {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
}