body {
    background-color: bisque;
    text-align: center;
}

h1 {
    color: red;
}

h2 {
    color: blue;
}

h3 {
    color: green;
}

h4 {
    color: magenta;
}

#name {
    color: purple;
    font-size: larger;
}

#password {
    color: brown;
    font-size: larger;
}