body {
    background-color: bisque;
}

div {
    width: 500px;
    height: 500px;
    background-color: cadetblue;
    padding: 10px 5px;
    
    border-width: 10px;
    border-style: dashed;
    border-color: black;
}

.div2 {
    width: 500px;
    height: 500px;
    background-color: rgb(141, 54, 112);
    padding: 10px 5px;

    border: 10px solid black ;
}

.div3 {
    width: 500px;
    height: 500px;
    background-color: darkseagreen;
    padding: 10px 5px;

    border-top: 10px solid black;
    border-right: 5px dashed brown;
    border-bottom: 15px dotted blue;
    border-left: 10px double red;
}

.btn-filled {
    text-decoration: none;
    background-color: black;
    color: white;
    padding: 20px 40px;
    border: 10px solid black;
}

.btn-outline {
    text-decoration: none;
    background-color: white;
    color: black;
    padding: 20px 40px;
    border: 10px solid black;
}